@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}
body {
  margin: 10px;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
  text-align: justify;
  /* margin-left: 50px; */
 
}
* {
  color: #fff;
  margin: 0;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  
  border-radius: 4px;
  color: #fff;
  background: rgb(111, 223, 111);
  cursor: pointer;
 
}

/* navbar */
header nav{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;

}
header nav h1{
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}
header nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
header nav a.active{
  background: var(--primary);
}
#root{
  display: flex;
  flex-direction: row;
  gap: 15px;
}


/* Career List */

.job-details-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.job-details-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.job-details-container p {
  font-size: 16px;
  margin-bottom: 2px;
}

.job-details-container .open-positions-container {
  padding: 20px;
  background-color:rgb(113, 113, 135);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(48, 23, 23, 0.1);
}

.job-details-container .open-positions-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.job-details-container .open-positions-container ul {
  list-style-type: none;
  padding: 0;
}

.job-details-container .open-positions-container li {
  margin-bottom: 10px;
  cursor: pointer;
}

.job-details-container .open-positions-container li:hover {
  background-color: #ef8e8e;
}

.job-details-container .job-details {
  margin-top: 20px;
  background-color: #ef8e8e;
}

.job-details-container .job-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
  background-color: #ef8e8e;
}

.job-details-container .job-details ul {
  list-style-type: none;
  padding: 0;
  background-color: #ef8e8e;
}

.job-details-container .job-details li {
  margin-bottom: 10px;
  background-color: #ef8e8e;
}

.job-details-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color:green;
  color: #f79797;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.cancel-button{
  background-color: #bc4123;
}

.job-details-container button:hover {
  background-color: #8de88a;
}

/* careers details */


.job-details-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
 
}

.open-positions-container {
  padding: 20px;
  background-color: #e97d7d; /* Change background color here */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.open-positions-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.open-positions-container ul {
  list-style-type: none;
  padding: 0;
}

.open-positions-container li {
  margin-bottom: 10px;
  cursor: pointer;
}

.open-positions-container li:hover {
  background-color: #e0e0e0;
}


/* Help */
.help-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center; 
  display: flex; /* Center the content */
  justify-content: center; /* Center horizontally */
}

.help-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;

}

.help-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.help-container p {
  margin-bottom: 10px;
  text-align: center;
}

.help-container ul {
  margin-bottom: 20px;
  text-align: center;
}

.help-container li {
  margin-bottom: 5px;
  text-align: center;
}
.help-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Ensure the container takes up the full height of the viewport */
}

.help-content {
  max-width: 800px;
  padding: 20px;
  text-align: center; /* Center text horizontally */
}

/* 
.Home h2{
  text-align: center;
} */
.Home p{
  row-gap: 50px;
}


.home-image {
  width: 100%; 
  height: 450px; 
  object-fit: cover; 
  object-position: center bottom; 
  margin-top: 0px; 
  margin-bottom: 0px;
}


